<% content_for :title, "New movie" %>


<div style="background-color: #f0f8ff; padding: 20px; border-radius: 8px;">
<h1 >New movie</h1>
<div >

<%= render "form", movie: @movie %>

<br>
</div>

<div class="text-center-custom">
  <%= link_to "Back to movies", movies_path %>
</div>
