/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .custom-table thead {
    background-color: #f3a6a6;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #ed9292;
  }
  
  .custom-table tbody tr:hover {
    background-color: #db7979;
  }
  